*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio
.idea/

# Visual Studio Code
.vscode/

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.bbl
*.bcf
*.blg
